.ItemContent {
    display: grid;
    max-width: 1500px;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr); // РЯДЫ / КОЛОНКИ
    column-gap: 10px;
    row-gap: 20px;
    // border: rgb(8, 8, 8) dashed 1px;
    &__wrapper {
        // border: rgb(4, 0, 255) dashed 1px;
        margin: 20px;
        min-width: 300px;
        max-width: 300px;
        height: 400px;
    }
}