.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  &__header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    top: 0px;
    color: $text-header-color;
    display: flex;
    align-items: center;
    height: $width-bar-desk;
    background-color: $background-header-color;

    &_logo {
      color: white;
      margin-left: 20px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      grid-area: logo;
      font-weight: 200;
      font-size: 15px;
      cursor: default;
    }
    &_langBtn {
      margin-right: 20px;
      display: flex;
      grid-area: langBtn;
      align-items: flex-start;
    }
    //Burger
    &_desk {
      grid-area: desk;
      font-size: 13px;
      font-weight: 400;
    }
    &_mob {
      display: none;
    }
    display: grid;
    grid-template-columns: 1fr minmax(100px, 850px) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo desk langBtn";
  }
  // .layoutContent {
  //   min-height: 100%;
  // }

 
    &__content {
      overflow-y: auto;
      width: 100%;
      height: 100px;
      min-height: calc(100vh - 35px);
      background-color: #fcfcfc;
    }
 
  .navigate__link {
    display: flex;
    justify-content: space-around;
    & li {
      list-style: none;
    }
    & li a {
      color: $text-header-color;
    }
    & :hover {
      color: #fff;
    }
  }
}
@media screen and (max-width: 567px) {
  .navigate__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 19px;
    font-weight: 300;
    padding: 8px 0 0;
    width: 100%;

    & li {
      padding: 3px;
      margin: 10px;
    }

    & li a {
      display: inline-block;
      width: 300px;
      max-width: 300px;
      color: $text-header-color;

      &:hover {
        color: rgb(255, 255, 255);
      }
    }
  }

  ul {
    width: 100%;
    height: 100%;
    background-color: $background-header-color;
  }

  .MuiList-padding {
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .App {
    &__header {
      &_logo {
        font-weight: 200;
        font-size: 25px;
      }
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: $width-bar-mob; 

      background-color: $background-header-color;
      //Burger
      &_mob {
        line-height: 25px;
        display: flex;
        cursor: pointer;
      }
      &_desk {
        display: none;
      }
    }
    &__layout {
    }
  }
}
