.App {

//   .MuiSwitch-colorPrimary.Mui-checked {
//     color: #00ff00 !important;
// }


  &__header {
    color: $text-header-color;
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;

    background-color: $background-header-color;
    //Burger
    &_mob {
      display: none;
    }
    //Burger
    &_desk {
      font-size: 15px;
    }
    display: grid;
    border: 1px solid #000;
    grid-template-columns: 2fr 1fr 2fr;
    grid-auto-rows: 1fr;
  }

  &__layout {
    margin: $width-bar-desk 0;
  }
  .navigate__link {
    display: flex;
    & li {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 100px;
    }
    & li a {
      color: $text-header-color;
    }
  }
}
@media screen and (max-width: 767px) {
  .navigate__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 300;
    padding: 8px 0 0;

    & li {
      padding: 5px;
      margin: 5px;
      & div:after {
        content: "";
        position: relative;
        width: 100%;
        height: 0.1px;
        background-color: rgb(141, 141, 141);
        display: inline-block;
        margin: 0;
        left: 0px;
        top: -48px;
      }
    }

    & li a {
      display: inline-block;
      width: 340px;
      max-width: 300px;
      color: $text-header-color;
      
      &:hover {
        color: rgb(255, 255, 255);
      }
    }
  }

  ul {
    width: 100%;
    height: 100%;
    background-color: $background-header-color;
  }

  .MuiList-padding {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .App {
    &__header {
      padding: 10px;
      display: flex;
      justify-content: space-between;

      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%;
      height: 48px;

      background-color: $background-header-color;
      //Burger
      &_mob {
        display: flex;
        font-size: 17px;
      } //Burger
      &_desk {
        display: none;
      }
    }
    &__layout {
      margin: $width-bar-mob 0;
    }
  }
}
