.blocks__devices {
  display: flex;
  border: 1px solid black;
  height: 670px;

  &_name {
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
  }
  &_0 {
  }
  &_1 {
    color: white;
    background-color: #020011;
  }
  &_2 {
  }
  &_3 {
  }
  &_4 {
  }
  &_5 {
  }
  &_6 {
    color: white;
    background-color: #002e58;
  }
  &_7 {
  }
  &_8 {
  }
  &_9 {
  }
}

.production {
 
}
