$text-discription-color: rgba(0,0,0,.65);
$text-main-color: rgba(0, 0, 0, 0.85);
$text-muted: #999999;

// $border-color: #f0f0f0;
// $active-color: #00ff00;
// $valid-color: darkgreen;
// $invalid-color: darkred;