$text-discription-color: rgba(0,0,0,.65);
$text-main-color: #1d1d1f;
$text-header-color: #cacaca;
$background-header-color: rgba(34, 34, 34, 0.966);
$text-muted: #999999;
$style_text: 'Roboto', sans-serif;
$width-bar-mob: 52px;
$width-bar-desk: 45px;