.ItemInfo {
  border: #000 solid 1px;
  &__content {
  }
  &__image {
    max-width: 700px;
    height: 300px;
  }
  &__descriptshort {

  }
  &__description {

  }
  &__properties {

  }
  &__specifications {

  }
  &__applying {

  }
  &__positive {

  }
  &__code {
   
  }

  &__header {
    font-size: 20px;
    font-weight: 600;
  }
}

.padd {
    padding: 10px;
}