.btn__lang {
    line-height: 5px;
    max-width: 40px;
    min-width: 20px;
    height: 25px;
    border: 1px solid rgb(243, 243, 243);
    background-color: rgb(1, 116, 211);
    border-radius: 4px;
    color: rgb(243, 243, 243);
    font-size: 13px;
    font-weight: 300;
}

.btn__lang:hover {
    color: #fff;
}

.btn__header {
    border-radius: 5px;
    color: $text-header-color;
    font-weight: 500;
    &:hover {
        box-shadow: #777;
    }
}