.btn_lang:hover {
    color: #000;
    box-shadow: #fff 0px 0px 1px;
}

.btn__header {
    border-radius: 5px;
    color: $text-header-color;
    font-weight: 500;
    &:hover {
        box-shadow: #777;
    }
}