.btn_lang {
    width: 34px;
    height: 24px;
    border: 0.5px solid #555;
    background-color: #fff;
    border-radius: 4px;
    color: #555;
    font-size: 14px;
    font-weight: 300;
}

.btn_lang:hover {
    color: #000;
    box-shadow: #fff 0px 0px 1px;
}