.containerDevices {
  // tables for container devices
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  grid-template-areas:
    "__0 __0"
    "__1 __1"
    "__2 __2"
    "__3 __4"
    "__5 __5"
    "__6 __6"
    "__7 __7"
    "__8 __8"
    "__9 __9"
    "__10 __10"
    "__11 __11"
    "__12 __12";
  &__0 {
    // PAC-4220
    grid-area: __0;
  }
  &__1 {
    // PN-CAS-326
    color: white;
    background-color: #000;
    grid-area: __1;
  }

  &__2 {
    // PBX-ENP-200
    grid-area: __2;
  }
  &__3 {
    // PBX-STR-500
    grid-area: __3;
  }
  &__4 {
    // PBX-MTV-508
    grid-area: __4;
  }
  &__5 {
    // PSGP-2059
    grid-area: __5;
  }
  &__6 {
    // PNTP-5021
    background-color: #002e58;
    color: white;
 
    grid-area: __6;
  }
  &__7 {
    // PN-CSE-055
    background-color: #fff;
    grid-area: __7;
  }
  &__8 {
    grid-area: __8;
  }
  &__9 {
    grid-area: __9;
  }
  &__10 {
    grid-area: __10;
  }
  &__11 {
    grid-area: __11;
  }
  &__12 {
    grid-area: __12;
  }
  &__2 .blocks {
 
  }
  &__3 .blocks {
    background-color: rgb(234, 232, 233);
    border: white solid 5px;
  }
  &__4 .blocks {
    background-color: rgb(234, 232, 233);
    border: white solid 5px;
  }
  &__4 .blocks__image_view {
    // padding-top: 100px;
    padding: 50px 50px 0px 100px;
  }
  &__4 .blocks__image_view-A {
    max-width: 750px;
  }
  &__3 .blocks__image_view-A {
    max-width: 800px;
  }
  &__0 .blocks__image_view-A {
    max-width: 1500px;
    padding: 20px;
  }
  &__0 .blocks__image_view-B {
    padding-bottom: 50px;
  }
  &__7{
     background-color: rgb(248, 248, 248);  
  }

  &__5 .blocks__image_view-A {
    max-width: 1800px;
    padding-top: 200px;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__6 .blocks__image_view-A {
    max-width: 700px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  &__6 .blocks__image_view-B {
    border-radius: 15px;
    max-width: 700px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  &__7 .blocks__image_view {
    display: flex;
    max-width: 1500px;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
  }
  &__7 .blocks__image_view-A {
    max-width: 500px;
  }

  &__7 .blocks__image_view-B {
    max-width: 500px;
  }

  //text-color and other properties
  &__1 .blocks__devices_discription-options {
    color: rgb(199, 199, 199);
  }
  &__6 .blocks__devices_discription-options {
    color: rgb(199, 199, 199);
  }
  &__2 .blocks__devices{
    // position: absolute;
    // z-index: 100;
    // top: 0;
 
  }
  &__2 .blocks__devices {
    color: #000;
  }
  &__2 .blocks__image_view {
    overflow: hidden;
  }
  &__2 .blocks__image_view-A {
    height: 100%;
    width: 100%;
    max-width: 1892px;

    object-fit: cover;
    // overflow: hidden;
  }
  &__2 .blocks__image_view {
    min-height: 1500px;
  }

  &__2 .blocks__devices_discription-options {
    color: #000;
  }
  &__4 .blocks__image_view {
    padding: 20px;
  }
}
.Production {
  height: 810px;
  width: 100%;
  overflow: hidden;
}
.blocks {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &__image {
    height: 100%;
    max-height: 870px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    &_view {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      &-A {
        width: 100%;
        max-width: 1070px;
      }
      &-B {
        width: 100%;
        max-width: 1070px;
      }
    }
  }

  &__devices {
    height: 100%;
    width: 100%;
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    align-items: center;
    &_name {
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 0.2em;
      display: flex;
      justify-content: center;
      padding-top: 50px;
    }
    &_discription {
      font-weight: 400;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 700px;
      &-task {
        font-size: 19px;
        padding-top: 20px;
        padding-right: 10px;
        padding-left: 10px;
      }
      &-options {
        color: rgb(99, 99, 99);
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .Production {
    height: 780px;
    width: 100%;
  }
  .containerDevices {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "__0" "__1" "__2" "__3" "__4" "__5" "__6" "__7" "__8" "__9";
    &__2 .blocks__image_view-A {
      padding-top: 100px;
      width: 130%;
      overflow: hidden;
    }
    &__7 .blocks__image_view {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 565px) {
  .containerDevices {
    &__2 .blocks {
      overflow: hidden;
    }
    &__2 .blocks__image_view-A {
      padding-top:0;
      // padding-top: -70px;
      // width: 130%;
      // overflow: hidden;
    }
    &__6 .blocks__image_view-A {
      max-width: 500px;
    }
    &__6 .blocks__image_view-B {
      max-width: 500px;
      padding-bottom: 30px;
    }
    &__7 .blocks__devices {
     
      padding-bottom: 30px;
       
    }
    &__7 .blocks {
      padding-bottom: 30px;
    }
    &__7 .blocks__image {
      padding-top: 10px;
      
      max-height: 310px;
      &_view-B {
        max-height: 325px;
      }
    }
  }
  .Production {
    height: 485px;
    width: 100%;
  }
  .blocks {
    height: 500px;
    width: 100%;
    display: flex;

    &__devices {
      width: 100%;
      font-weight: 900;
      &_name {
        font-size: 30px;
        letter-spacing: 0.2em;
        display: flex;
        justify-content: center;
        padding-top: 50px;
      }
      &_discription {
        font-size: 14px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 300px;
        padding-bottom: 10px;
        &-task {
          font-size: 18px;
          padding-top: 10px;
          padding-right: 10px;
          padding-left: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        &-options {
          font-size: 14px;
          padding-top: 5px;
          padding-right: 10px;
          padding-left: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
