.PageTamplate {
    width: 100%;
    height: 100vh;
    border: #aaa solid 1px;
    &__image {
        width: 100%;
        height: 500px;
        border: #999 solid 1px;
    }
    &__description {
        font-size: 20px;
        height: 300px;
    }
    &__specifications {
        font-size: 20px;
        height: 300px;
    }
}