$bc-color: #114066;
$bc-color_hover: #00000010;
$text-color: hsl(0, 0%, 98%);
$text-color_hover: #f3f3f3;
$bc-color_content: rgb(255, 255, 255);

.Solutions {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 38px);
}

.solution {
  
  // min-height: calc(100vh - 52px);
  display: flex;
  &__navbar {
    overflow-y: auto;
    height: 100px;
    min-height: calc(100vh - 38px);
    max-width: 300px;
    background-color: $bc-color;
    padding-top: 30px;
    padding-bottom: 150px;
    button {
      text-align: left;
      padding-left: 50px;
      margin: 1px 0;
      height: 45px;
      width: 100%;
      cursor: pointer;
      color: $text-color;
      font-size: 15px;
      line-height: 10px;
      border: none;
      background-color: $bc-color;
    }
    button:hover {
      color: $text-color_hover;
      background-color: $bc-color_hover;
    }
  }
  &__content {
    overflow-y: auto;
    width: 100%;
    height: 100px;
    min-height: calc(100vh - 38px);
    background-color: $bc-color_content;
  }
}

@media screen and (max-width: 768px) {
  .Solutions {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 55px);
  }

  .solution {
    &__navbar {
      display: none;
    }

    &__content {
      overflow-y: auto;
      width: 100%;
      height: 100px;
      min-height: calc(100vh - 55px);
      background-color: $bc-color_content;
    }
  }
}
