.containerDevices {
  // tables for container devices
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  grid-template-areas:
    "__0 __0"
    "__1 __1"
    "__2 __2"
    "__3 __4"
    "__5 __5"
    "__6 __6"
    "__7 __7"
    "__8 __8"
    "__9 __9"
    "__10 __10"
    "__11 __11"
    "__12 __12";
  &__0 {
    // PAC-4220
    grid-area: __0;
  }
  &__1 {
    // PN-CAS-326
    color: white;
    background-color: #000;
    grid-area: __1;
  }

  &__2 {
    // PBX-ENP-200
    grid-area: __2;
  }
  &__3 {
    // PBX-STR-500
    grid-area: __3;
  }
  &__4 {
    // PBX-MTV-508
    grid-area: __4;
  }
  &__5 {
    // PSGP-2059
    grid-area: __5;
  }
  &__6 {
    // PNTP-5021
    background-color: #002e58;
    color: white;
    grid-area: __6;
  }
  &__7 {
    // PN-CSE-055
    grid-area: __7;
  }
  &__8 {
    grid-area: __8;
  }
  &__9 {
    grid-area: __9;
  }
  &__10 {
    grid-area: __10;
  }
  &__11 {
    grid-area: __11;
  }
  &__12 {
    grid-area: __12;
  }
  //text-color and other properties
  &__1 .blocks__devices_discription-options {
    color: rgb(199, 199, 199);
  }
  &__6 .blocks__devices_discription-options {
    color: rgb(199, 199, 199);
  }
  &__2 .blocks__image{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  }
  &__2 .blocks__devices{
    color: #000;
  }
  &__2 .blocks__image_view{
    overflow: hidden;
  }
  &__2 .blocks__image_view-A {
    height: 100%;
    width: 100%;
    max-width: 2500px;
    object-fit: cover;
    overflow: hidden;
  }
  &__2 .blocks__devices_discription-options {
    color: #000;
  }
}
.Production {
  height: 870px;
  width: 100%;
  overflow: hidden;
}
.blocks {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &__image {
    // max-width: 1070px;
    // max-height: 200px;
    height: 100%;
    max-height: 870px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    &_view {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      &-A {
        width: 100%;
        max-width: 1070px;
      }
      &-B {
        width: 100%;
        max-width: 1070px;
      }
    }
  }

  &__devices {
    height: 100%;
    width: 100%;
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    align-items: center;
    &_name {
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 0.2em;
      display: flex;
      justify-content: center;
      padding-top: 50px;
    }
    &_discription {
      font-weight: 400;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 700px;
      &-task {
        font-size: 19px;
        padding-top: 20px;
        padding-right: 10px;
        padding-left: 10px;
      }
      &-options {
        color: rgb(99, 99, 99);
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 567px) {
  .containerDevices {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "__0" "__1" "__2" "__3" "__4" "__5" "__6" "__7" "__8" "__9";
  }
  .Production {
    height: 670px;
    width: 100%;
  }
  .blocks {
    display: flex;

    &__devices {
      width: 100%;
      font-weight: 900;
      &_name {
        font-size: 35px;
        letter-spacing: 0.2em;
        display: flex;
        justify-content: center;
        padding-top: 50px;
      }
      &_discription {
        font-size: 14px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 300px;
        &-task {
          font-size: 18px;
          padding-top: 10px;
          padding-right: 10px;
          padding-left: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        &-options {
          font-size: 14px;
          padding-top: 5px;
          padding-right: 10px;
          padding-left: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
