.General {
  width: 100%;
  min-height: calc(100vh - 55px);
}
.general {
  &__content {
    width: 100%;
  }
}

.divisions {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  &__next {
    max-width: 1500px;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr); // РЯДЫ / КОЛОНКИ
    column-gap: 10px;
    row-gap: 20px;
    margin: 32px 64px 0px  64px;
    button {
      font-size: 14px;
      width: 100%;
      min-width: 420px;
      height: 210px;
      border: 1px solid #3f3f3f25;
      background-color: #b9b9b9;
      color: #ededed;
    }
    button:hover {
      cursor: pointer;
      border: hsl(216, 19%, 20%) solid 1px;
    }
  }
}
.LinksSolution {

}
.purposes {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
  &__next .LinksSolution{
    display:grid;
    grid-template:  repeat(4, 1fr) /  repeat(4,  minmax(200px, 300px) );  // РЯДЫ / КОЛОНКИ
    row-gap: 20px;
    column-gap: 20px;
    max-width: 1600px;
    margin: 64px 64px 0px  64px;
    button {
      width: 100%;
      min-width: 180px;
      height: 60px;
      font-size: 16px;
      font-weight: 600;
      text-align: left;
      vertical-align: middle;
      color: #0a549e;
      text-align: left;
      padding: 0 24px;
      white-space: normal;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #0084ff9d;
    }
    button:hover {
      cursor: pointer;
      border: #0071E3 solid 1px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .purposes {
    &__next .LinksSolution{
      display: grid;
      grid-template: repeat(5, 1fr) / repeat(2,  minmax(200px, 600px)); // РЯДЫ / КОЛОНКИ
    }
  }
}



@media screen and (max-width: 900px) {
  .purposes {
    &__next .LinksSolution{
      display: grid;
      grid-template: repeat(5, 1fr) / repeat(1, minmax(200px, 600px)); // РЯДЫ / КОЛОНКИ
    }
  }
}
